


        
      
      
          <div class="container">
    <h2>Butwal Tech Employee Details</h2>
    <p></p>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
          
        </thead>
        <tbody>
            <tr>
          <td>Sonam</td>
          <td>Sunuwar</td>
          <td>sonam.sunuwar@butwaltech.com</td>
        </tr>
        <tr>
          <td>Sandeep</td>
          <td>Khanal</td>
          <td>sandeepkhanal@butwaltech.com</td>
        </tr>
        <tr>
          <td>Shiva</td>
          <td>Acharya</td>
          <td>shiva.acharya@butwaltech.com</td>
        </tr>
        <tr>
          <td>Ayush</td>
          <td>Ale</td>
          <td>ayush.alea@butwaltech.com</td>
        </tr>
      </tbody>
    </table>
    
  </div>