
    
    <div class="container">
        <h2>Butwal Tech department Details</h2>
        <table class="table table-dark table-striped">
                    <thead class="thead-light">
            <tr>
              <th>NAME</th>
              <th>DEPARTMENT</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Sonam</td>
              <td>frontend developer</td>
              
            </tr>
            <tr>
              <td>Sandeep</td>
              <td>backend developer</td>
              
            </tr>
            <tr>
              <td>Shiva</td>
              <td>mobile app developer</td>
              
            </tr>
            <tr>
              <td>Ayush</td>
              <td>backend developer</td>
              
            </tr>
        <tr>
            <td>Pritesh</td>
            <td>reporting manager</td>
        </tr>

            
          
         <tr>                  
              <td>Deepak</td>
              <td>all rounder</td>
         </tr>
         </tbody>
         </table>     
            </div>
          
        <app-show-dep></app-show-dep>
        
        
        
 
    

