<!-- Toolbar -->
<div class="container-fluid"  >
  
  <h2 class=" d-flex justify-content-center"> Butwal Technology </h2>

  
  <nav class="navbar navbar-expand-sm bg-dark navbark-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="m-1 btn btn-danger btn- outline-primary" Button
        label="DepScreen"
        (click) = "DepScreen=true; EmpScreen=false; CntScreen=false;">
      DEPARTMENT
      </button>

    </li>
    <li class="nav-item">
      <button class="m-1 btn btn-danger btn outline-primary" Button 
      
      label="EmpScreen"
      (click) = "DepScreen=false; EmpScreen=true; CntScreen=false;">
    EMPLOYEE
    </button>

  
  </li>
  
  <li class="nav-item">
    <button class="m-1 btn btn-light btn outline-primary" Button
    label="CntScreen" 
    (click) = "DepScreen=false; EmpScreen=false; CntScreen=true;">
  CONTACT US
 
  </button>

    </ul>
  </nav>

  <app-department *ngIf="DepScreen"></app-department>
  <app-employe *ngIf="EmpScreen"> </app-employe>
  <app-contact *ngIf="CntScreen"> </app-contact>

    
  </div>
  <router-outlet></router-outlet>

